* {
    box-sizing: border-box;
    margin: 0px;
}
.favorite {
    background-color: red;
}

.users-div {
    display: inline-block;
    background-color: #3D77FF;
    height: 150px;
    width: 100%;
}
p {
    font-weight: bold;
    font-size: 30px;

}